.meals {
  width: 95%;
  max-width: 55rem;
  margin-top: -6rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  .meals {
    margin-top: -4rem;
  }
}
