.cart {
  width: 15rem;
  border-radius: 2rem;
  background-color: var(--clr-dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.85rem 2rem;
  cursor: pointer;
}

.label {
  margin: 0 1rem 0 0;
  text-transform: capitalize;
}

.items-count {
  border-radius: 40%;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-weight: 600;
  padding: 0.35rem 0.85rem;
}
