.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  border-bottom: 1.5px solid var(--clr-primary);
}

.cart-item:first-of-type {
  padding-top: 0;
}

.item-info {
  width: 80%;
}

.item-info h4 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.item-price-quantity {
  margin-top: 0.65rem;
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

.item-price {
  color: var(--clr-primary);
  font-weight: 600;
  margin-right: 2rem;
}

.item-actions {
  text-align: right;
}

.item-quantity {
  border: 1px solid var(--clr-light-gray);
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;
}

.item-actions button {
  background-color: transparent;
  outline: none;
  width: 2.5rem;
  cursor: pointer;
  padding: 0.25rem 0;
  border: 1px solid var(--clr-primary);
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.35rem;
}

.item-actions button:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.item-actions button:hover,
.item-actions button:active {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

@media screen and (min-width: 768px) {
  .item-actions button {
    margin-right: 0.5rem;
    margin-bottom: 0;
  }

  .item-info h4 {
    font-size: 1.15rem;
  }
}
