.meal-item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal-input {
  display: flex;
  margin-bottom: 0.75rem;
}

.meal-input label {
  display: none;
}

.meal-input.invalid input {
  border: 1px solid var(--clr-red);
}

.meal-input button {
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .meal-input label {
    display: block;
  }
}
