.meal-item {
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meal-item:first-of-type {
  padding-top: 0;
}

.meal-item:last-of-type {
  padding-bottom: 0;
}

.meal-item:not(:last-of-type) {
  border-bottom: 1px solid var(--clr-light-gray);
}

.meal-info {
  line-height: 1.5rem;
}

.meal-info h4 {
  margin: 0;
  font-size: 1rem;
}

.meal-price {
  color: var(--clr-primary);
  font-size: 1rem;
  font-weight: 600;
}
