.item {
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:not(:last-of-type) {
  border-bottom: 1px solid var(--clr-light-gray);
}

.info {
  line-height: 1.5rem;
}

.info h4 {
  margin: 0;
  padding: 0.15rem 0;
  font-size: 1rem;
}

.price {
  color: var(--clr-primary);
  font-size: 1rem;
  font-weight: 600;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity {
  margin-bottom: 0.5rem;
}

.quantity label {
  margin-right: 0.75rem;
  font-weight: 600;
}

.quantity input[type="number"] {
  width: 3rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--clr-light-gray);
  border-radius: 0.35rem;
}

.actions button {
  width: fit-content;
}
