.intro {
  color: var(--clr-white);
  width: 45%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background-color: var(--clr-dark-gray);
  padding: 0.25rem 1.5rem;
}

.intro h2 {
  font-size: 1.75rem;
  text-transform: capitalize;
}
