.button {
  width: 40%;
  max-width: 15rem;
  border-radius: 2rem;
  background-color: var(--clr-dark-gray);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.85rem 1rem;
  cursor: pointer;
  background-color: var(--clr-dark-gray);
  color: var(--clr-white);
  font-size: 1rem;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.text {
  display: none;
  margin: 0;
  text-transform: capitalize;
}

.badge {
  border-radius: 40%;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-weight: 600;
  padding: 0.35rem 0.85rem;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .text {
    display: block;
  }
}
