.modal-content {
  z-index: 500;
  position: absolute;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  z-index: 100;
}
